body{
    background-image: url("http://finance.nd.edu/assets/88232/original/finance.jpg");

    padding:50px;
}

#login-dp, #signup-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp, #signup-dp .help-block{
    font-size:12px    
}
#login-dp, #signup-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp, #signup-dp .social-buttons{
    margin:12px 0    
}
#login-dp, #signup-dp .social-buttons a{
    width: 49%;
}
#login-dp, #signup-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp, #signup-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp, #signup-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid darkslategrey;
    padding: 10px;
}

#home-listings{
    background-color: rgba(211, 211, 211, 0.8)
}

tr > td{
    padding-bottom: 2em;
    padding-right: 2em;
}

tr > th{
    padding-bottom: 2em;
    padding-right: 2em;
}

th{
    width: 15%;
}

.item-pic{
    width: 90%;
}